.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  flex-grow: 1;
}

.grid-item {
  background-color: #2c2c54;
  padding: 1.5rem;
  border-radius: 12px;
}

.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.item3 {
    grid-row: 1 / 3;
    grid-column: 3;
}

.income-amount {
  font-size: 2rem;
  font-weight: 600;
  color: #4caf50;
  margin-top: 1rem;
}

.expense-amount {
  font-size: 2rem;
  font-weight: 600;
  color: #f44336;
  margin-top: 1rem;
}
